@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// %btn {}

%link {
  text-decoration: none;
  color: #fff;
}

body {
  // background-image: linear-gradient(rgb(0, 153, 255), rgba(255, 0, 170, 0.281));
  background: #000;
  background-size: contain;
  font-family: "Montserrat";
  color: #fff;
  margin-block: 3rem;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.bio {
  text-align: center;

  img {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }

  @media (min-width: 700px) {
    h1 {
      font-size: 2rem;
    }

    p {
    }
  }
}

.logo {
  display: block;
  width: 40vmin;
  max-width: 200px;
  border-radius: 50%;
  margin: auto;
}

.link {
  max-width: 30rem;
  margin: 3rem auto 0;

  &__item {
    width: 100%;
    // border: 3px solid #fff;

    a {
      color: #fff;
      background: rgb(34, 34, 34);
      border-radius: 10px;
      border: 2px solid #000;
      padding: 1rem;
      display: block;
      list-style-type: none;
      text-decoration: none;
      // text-transform: uppercase;
      text-align: center;
      transition: 0.5s all;
      font-size: 1rem;

      &:hover {
        border-radius: 10px;
        background: rgb(52, 51, 51);
        border: 2px solid white;
      }
    }

    & + & {
      margin-top: 10px;
    }
  }
}
.socials {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 20px;

  &__item {
    a {
      @extend %link;
      font-size: 30px;

      :hover {
        transform: scale(1.2);
        transition: 200ms transform;
      }
    }

    & + & {
      margin-left: 10px;
    }
  }
}

.footer {
  margin-top: 3rem;
  text-align: center;
  color: rgb(175, 59, 59);

  &--a {
    display: unset;
  }
}
